(Pandas challenge)

In [1]:
# Importing pandas
import pandas as pd

# Creating a DataFrame with three columns and three rows
data = {'serial number': [1001, 1002, 1003],
        'product': ['consumer', 'retail', 'whole-sale'],
        'maximum_capacity': [10, 20, 15]}

df = pd.DataFrame(data)

# Displaying the DataFrame
df

   serial number     product  maximum_capacity
0           1001    consumer                10
1           1002      retail                20
2           1003  whole-sale                15

In [2]:
#head of teh created data frame
df.head()

   serial number     product  maximum_capacity
0           1001    consumer                10
1           1002      retail                20
2           1003  whole-sale                15

In [3]:
# index of the created data frame
df.index

RangeIndex(start=0, stop=3, step=1)

In [14]:
# vieweing first column of teh data frame 
#df.iloc[:, 0]

column = df['serial number']
column

0    1001
1    1002
2    1003
Name: serial number, dtype: int64

In [7]:
# vieweing first row of the data frame
df.iloc[0]

serial number           1001
product             consumer
maximum_capacity          10
Name: 0, dtype: object

In [15]:
# Creating a DataFrame with the same data using a list of lists
data_list = [
    [1001, 'consumer', 10],
    [1002, 'retail', 20],
    [1003, 'whole-sale', 15]
]

# Defining column names
columns = ['serial number', 'product', 'maximum_capacity']

# Creating the DataFrame
df_from_list = pd.DataFrame(data_list, columns=columns)

# Displaying the DataFrame
df_from_list

   serial number     product  maximum_capacity
0           1001    consumer                10
1           1002      retail                20
2           1003  whole-sale                15

In [17]:
# Writing the dataframe to new CSV
df_from_list.to_csv("C:\\Users\\Esha\\Inderactive Data_\\Data frame.csv")


### What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?
The "write/render/evaluate" loop provides creators interactive data visualizations with an incredibly rapid iterative loop in which they can try things out and hone their design systems in the quickest way possible. By writing code, generating visual output, and evaluating the results, they are in a position to see the outcome of changes immediately. This feedback loop is fundamental in the fine-tuning of visualizations, making a designer able to try out many different mapping rules, tune his design, and therefore produce increasingly more effective and insightful representations of data. It effectively handles large datasets and is meant for creative exploration in data visualization.

### Why are dynamic, interactive data visualizations useful when communicating data?

Interactive data visualizations revolutionize the way that data is communicated to a user; it is an engaging experience for the user. Interactive data visualization allows users to "get their hands dirty" by exploring the data: navigating and analyzing it. Users can tailor their views, concentrate on particular elements, and get insights at their own speed because to the flexibility. This flexibility gives consumers a variety of views to choose from, making it very valuable for multidimensional datasets. These interactive visualizations will be the tools for storytelling, capturing audiences in a tale that demystifies complexity. These graphics are breaking all the old-school concepts of communication by becoming cross-compatible and real-time updating between devices, which extends the reach and the impact of data within a web-driven world of networks.

### Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree.

I agree with murray that open source tools that avoid propritary software are suitable are best for publishing visualizations as creators will be enforced to ristrict source or the actual content. which not allowing the actual raw  content to reach a wider audiance. All ideas that a creator wants to implement would have to be run by the establishments as any content can not be published in view of lisensing of the software. Which restricts the creative aspect of the visualization not being able to explore untapped opportunities for the actual owners of the creation.